<ion-view view-title="Artists">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh...">
            
        </ion-refresher>
        <ion-list>
            <div ng-repeat="index in artists">
                <ion-item ng-if="settings.alphabetSeparators == true" class="item-divider">
                    {{index.name}}
                </ion-item>
                <ion-item class="item-remove-animate item-icon-right" ng-repeat="artist in index.artist" type="item-text-wrap" href="#/tab/artists/{{artist.id}}">
                    <h2>{{artist.name}}</h2>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
